<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/script.js" defer></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Welcome!</title>
</head>
<body class="home-body">
    <img src="/static/img/fi3lds.png" alt="logo-fields" id="logo-home">
    <main id="main-home">
        <div id="caminhos">
            <a href="/criar">Novo formulário</a>
            <a href="/meus">Meus formulários</a>
            <a href="/sobre">Sobre</a>
        </div>
    </main>
</body>
</html>